[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
python-decouple = "*"
unipath = "*"
sqlalchemy = "*"
mysqlclient = "*"
whitenoise = "*"
jsonschema = "*"
requests = "*"
weather-app = {editable = true, path = "./"}
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
factory-boy = "*"
django-heroku = "*"

[requires]
python_version = "3.9"
